{% extends "layout.html" %}

{% block content %}
<div class="well">
   <h2>Welcome to index</h2>
   <p>Here's the users in your database:</p>
  <ul>
      <!-- PLACEHOLDER LIST OF PAGES -->
      {% for user in users %}
      <li>
          {{ user.name }}
      </li>
      {% endfor %}
  </ul>
 </div>
<div class="well">
       <form action="/users" method="post">
    <div class="form-group">
      <input class="form-control" name="name" placeholder="name">
    </div>
    <button class="btn btn-primary btn-xs">Add User</button>
  </form>
</div>

{% endblock %}
