<!DOCTYPE html>
<html>
<head>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Acme Users-Mentors</title>
</head>
<body>
<div class="container">
  <h1>Acme, the Users-Mentors Version!</h1>
  <!-- tab nav -->
  <ul class="nav nav-tabs" id="mytabs">
    <li role="presentation" {% if nav === 'home' %} class="active" {% endif %}> <a href='/'>Home</a></li>
    <li role="presentation" {% if nav === 'users' %} class="active" {% endif %} ><a href='/users'>Users ({{ count }})</a></li>
  </ul>
  <div>
  {% block content %}
    Whoops! Something Didn't Load Properly
  {% endblock %}
  </div>
</div>
  <footer class="footer">
    <div class="container">
      <p class="text-muted">App written  by Mike Kerslake with node, sequelize, express and <em>way</em> too many cups of coffee.</p>
    </div>
  </footer>
</body>
</html>
