{% extends "layout.html" %}

{% block content %}
<h2>Users</h2>
<div class="well">
       <form action="/users" method="post">
    <div class="form-group">
      <input class="form-control" name="name" placeholder="name">
    </div>
    <button class="btn btn-primary btn-xs">Add User</button>
  </form>
</div>
<div class="well">
   <div class="row">
   {% for user in users %}
    <!-- **NOTES::
      -fix coloumns in mobile!!
      -swap colors for each type of person
    -->
     <div class="col-xs-4 col-sm-4 col-md-4">
         <!-- panel heading for name -->
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">{{ user.name }}</h3>
          {% if user.mentor %}
          <div class="label label-default">
          Mentored by: {{ user.mentor.name }}
          </div>
          {% endif %}
        </div>
        <!-- pannel content for awards and actions -->
        <div class="panel-body">
        {% if user.awards.length %}
          <p><strong>Awards</strong></p>
        {% endif %}
        <ol>
        {% for award in user.awards %}
          <li>{{ award.award }}
                <!-- delete award -->
              <form method="post" action="users/{{ user.id }}/awards/{{ award.id }}?_method=DELETE">
                <button class="btn btn-warning btn-xs">
                  Revoke Award
                </button>
              </form>
          </li>
        {% endfor %}
        </ol>

        <!-- Give award -->
          <form method="post" action="users/{{ user.id }}/awards">
            <button class="btn btn-danger btn-block btn-success">Give Award</button>
          </form>

        <!-- Delete user -->
          <form method="post" action="users/{{ user.id }}?_method=DELETE"">
            <button class="btn btn-danger btn-block">Delete User</button>
          </form>

          <!-- Remove Mentor -->
          {% if user.mentorId %}
           <form method="POST" action="/users/{{ user.id }}?_method=PUT"">
           <!-- <input type="hidden" name="updateId"> -->
              <button value="null" name="mentorId" type="submit" class="btn btn-warning btn-block">Remove Mentor</button>
            </form>
          {% endif %}

          <!-- Possible mentor list -->
          {% if not user.mentorId %}
            <!-- check if there are any possible mentorees -->
            <form method="POST" action="/users/{{ user.id }}?_method=PUT" class="well">
              <div class="form-group">
              <select class="form-control" name="mentorId">
                  {% for person in users %}
                    {% if (person.awards.length >= 2) and (person.name != user.name) %}
                    <option value="{{ person.id }}">{{ person.name }}</option>
                    {% endif %}
                  {% endfor %}
              </select>
              </div>
              <button class="btn btn-primary btn-sm">Set as mentor</button>
            </form>
          {% endif %}
        </div>
      </div>
     </div>

   {% endfor %}

   </div>
 </div>

{% endblock %}
